@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #eff4fd;
}

/* Top navigation bar */
nav {
    z-index: 3;
    top: 0;
    position: fixed;
    background-color: #017ac9;
    border-bottom: 1px solid #015293;
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

nav ul li a.active {
    background-color: #015293;
}

nav img {
    padding-left: 10px;
}

nav ul li {
    list-style: none;
    position: relative;
    float: left;
}

nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding: 14px 16px;
}

nav ul li a:hover {
    background-color: #015293;
}

/* Side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 40px;
    left: 0;
    background-color: #015293;
    opacity: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 28px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #017ac9;
}

.sidenav .closebtn {
    position: absolute;
    top: -30px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

/* Homepage text and images */
.details {
    margin-left: 4%;
    margin-top: 7%;
}

.details h1 {
    font-size: 65px;
    color: #212121;
    margin-bottom: 35px;
}

.details span {
    color: #015293;
}

.details p {
    color: #212121;
    line-height: 50px;
    font-size: 45px;
    width: 45%;
}

/* Homepage photo animation */
.myphoto {
    width: 45%;
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 0px;
}

.myphoto .shape,
.me {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.myphoto:hover .shape {
    bottom: 40px;
}

.myphoto:hover .me {
    left: 45%;
}


/* Line crossing display */
.line img {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 98%;
}

/* Social buttons */
.socials ul {
    position: absolute;
    top: 55%;
    left: 8%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}

.socials ul li {
    list-style: none;
    margin: 0 10px;
}

.socials ul li .fa {
    color: #ffffff;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.socials ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #017ac9;
    text-align: center;
    transition: 0.5s;
    transform: translate(0, 0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.socials ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.socials ul li a:hover {
    background-color: #015293;
}

/* Homepage 2nd text and images */
.about-it img {
    position: absolute;
    margin-top: 23.2%;
    left: 0px;
    width: 50%;
    margin-bottom: 0;
    box-shadow: 10px 10px 5px #ccc;
}

.about-it p {
    position: absolute;
    font-size: 33px;
    line-height: 44px;
    color: #212121;
    width: 41%;
    margin-top: 24.5%;
    margin-left: 55%;
}

.about-hz img {
    position: absolute;
    top: 159.8%;
    left: 50%;
    width: 50%;
    box-shadow: -10px -10px 5px #ccc;
}

.about-hz p {
    position: absolute;
    top: 165%;
    left: 30px;
    width: 48%;
    font-size: 33px;
    line-height: 44px;
    color: #212121;
}

/* About me page text and images */
.elementsaboutme {
    position: relative;
    width: 100%;
}

.elementsaboutme .text {
    display: inline-block;
}

.elementsaboutme .text p {
    margin-left: 130px;
    margin-top: 100px;
    font-size: 30px;
    line-height: 35px;
    width: 30%;
}

.elementsaboutme img {
    position: absolute;
    top: 80px;
    right: 150px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #ccc;
}

.elementsaboutme .why h1 {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    top: 130%;
    left: 33%;
    text-align: center;
}

.elementsaboutme .why p {
    position: absolute;
    font-size: 30px;
    text-align: center;
    width: 80%;
    top: 150%;
    left: 10%;
    padding-bottom: 100px;
    line-height: 35px;
}

.elementsaboutme .why p span {
    color: #015293;
    font-weight: bold;
}

/* Dashboard table */
table,
th,
td {
    border: 1px solid;
    border-color: #eff4fd;
    border-collapse: collapse;
}

table,
th,
td {
    color: #ffffff;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #015293;
}

table {
    overflow-x: auto;
    background-color: #017ac9;
    position: relative;
    top: 230px;
    left: 10%;
    font-size: 20px;
    margin-bottom: 300px;
}

tbody:nth-child(odd) {
    background: #015293;
}

/* Dashboard progress bar */
.nbsa {
    border: 3px solid #015293;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
    background-color: #017ac9;
    color: #ffffff;
    accent-color: #015293;
    font-size: 35px;
    position: absolute;
    top: 80px;
    left: 560px;
}

.nbsa p {
    color: #ffffff;
    font-size: 25px;
    position: relative;
    padding-top: 20px;
    left: 60px;
}

.nbsa span {
    color: #212121;
    font-weight: bold;
}

/* Blog page - about me */
.blog-page {
    position: relative;
    top: 110px;
    left: 70px;
    width: 90%;
    margin: 0;
    padding: 5px;
    background-color: #017ac9;
}

.blog-page .blog {
    margin: 10px;
    padding: 5px;
}

.blog-page h1 {
    color: #ffffff;
    margin: 10px;
    padding: 5px;
}

.blog {
    background: #eff4fd;
}

.blog>h2,
p {
    color: #212121;
    margin: 4px;
    font-size: 20px;
}

/* Blog page - about 3 companies */
.blog-company h3 {
    color: #ffffff;
    margin: 15px;
    padding-bottom: 20px;
    font-size: 25px;
    border-bottom: #015293 solid 2px;
}

.blog-company {
    position: relative;
    top: 150px;
    left: 70px;
    width: 90%;
    margin-bottom: 15%;
    padding: 5px;
    background-color: #017ac9;
}

.blog-company .company {
    margin: 10px;
    padding: 5px;
}

.blog-company h1 {
    color: #ffffff;
    margin: 10px;
    padding: 5px;
}

.company {
    background: #eff4fd;
}

.company>h2,
p {
    color: #212121;
    margin: 4px;
    font-size: 20px;
}

/* Faq page content */
.elementsfaq {
    position: relative;
    top: 110px;
    left: 50px;
    width: 93%;
    margin-bottom: 180px;
}

.elementsfaq .dropfaq {
    background-color: #017ac9;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    padding: 20px;
}

.answers a {
    color: #ffffff;
    font-weight: bold;
}

.elementsfaq .active,
.dropfaq:hover {
    background-color: #015293;
}

.answers {
    padding: 0 18px;
    border-bottom: 2px solid #015293;
    border-collapse: collapse;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #0664b0;
}

.answers p {
    color: #ffffff;
    padding: 25px;
}